In [21]:
df_zones = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv')

In [24]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [25]:
len(df_zones)

265

In [29]:
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://postgres:postgres@localhost:5433/ny_taxi')

In [31]:
df_zones.to_sql(name='taxi_zone', con=engine, if_exists='replace')

265